/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: Inter-Variable;
    --accent-font: PressStart2P-Regular;
    --font-color: #000;
    --font-weight: 400; 
    --font-weight-accent: 700; 
    --bg-color: #fff; 
    --bg-image: repeating-linear-gradient(
        90deg,
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        180deg,
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a 100%
      );
    --txt-stroke-color: #fff;
    --button-txt-color:  #fff;
    --heart-color: #ff0000;
  }
  